@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
*{
  padding: 0px;
  margin: 0px;
  /* background-image: url("https://th.bing.com/th/id/OIP.yqeL1wgHWEggBp9hiOVFSwHaLH?w=600&h=900&rs=1&pid=ImgDetMain") ;
  background-repeat: no-repeat;
 background-size: cover;
 background-position: center; */
font-family: 'EB Garamond', serif;;
}